button:hover{
   cursor: pointer;
}
.boxes-content:hover{
    background-color: #726464;
    transition: 1.3s ease-in-out;
    border-radius: 10px;
    transform: scale(1.01);
    z-index: 0;
}
.cards-1:hover{
    background-color:  #766161;
    transform: scale(1.01);
    border-radius: 10px;
}
.stiky-bar:hover{
    opacity: 1;
}